body {
    background-color: rgb(38, 38, 38);
    color: white;
}

.container {
    width: 100%;
    height: 100%;
}

h1{
	font-family: "Montserrat", sans-serif;
	color: rgb(0, 153, 51);
	text-align: center;
	margin-top: 50px;
	font-size: 60px;
}

#loginbox {
    margin-top:100px;
}

input{
    margin-bottom: 25px;
}

input:focus, input:active{
	outline: none;
}

#btn-login{
	display: block;
	width: 100%;
    margin-top: 25px;
}

#btn-login:focus, #btn-login:active{
	outline: none;
}