body {
    background: linear-gradient(orange, black) no-repeat;
}

.container {
    width: 100%;
    height: 100%;
}

#loginbox {
    margin-top:50px;
}

.panel-body {
    padding-top:30px;
}

.input-group {
    margin-bottom: 25px;
}

#btn-login{
    margin-top: 10px !important;
}

/*#intro-writing {
	font-family: 'Freight Sans Bold', Helvetica, sans-serif;
	font-size: 28px;
	line-height: 36px;
	background: -webkit-linear-gradient(#4B79A1, #283E51);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#intro-wall {
	float: right;
	margin-right: 310px;
}

.panel-heading .panel-title {
	font-family: 'Freight Sans Bold', Helvetica, sans-serif;
	font-size: 22px;
}

#btn-login {
	font-family: 'Freight Sans Bold', Helvetica, sans-serif;
	font-size: 18px;
}*/